.text-rotate {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  overflow: hidden;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

.text-rotate-inner,
.text-rotate-lines {
  display: inline-flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  align-items: baseline;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

.text-rotate-word {
  display: inline-flex;
  align-items: baseline;
  font-size: inherit;
  line-height: inherit;
}

.text-rotate-element {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-space {
  white-space: pre;
}

.text-rotate-static {
  white-space: nowrap;
}
